body {
  line-height: 25px;
}
body p,
body .nav-link {
  font-family: 'Poppins', sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body span,
body a {
  font-family: 'Roboto', sans-serif;
}
@media only screen and (max-width: 992px) {
  .top-navigation {
    display: flex !important;
  }
  .background-one,
  .action,
  .latest-blog,
  .blog .partners,
  .footer {
    padding: 20px 0px !important;
  }
  .background-one .col-item,
  .action .col-item,
  .latest-blog .col-item,
  .blog .partners .col-item,
  .footer .col-item {
    margin-top: 1rem !important;
  }
}
@media only screen and (max-width: 320px) {
  .gbv .card,
  .health .card {
    right: 0px !important;
  }
  .wash .card,
  .epi .card {
    left: 0px !important;
    margin: 10px 0px;
  }
}
@media only screen and (max-width: 480px) {
  .gbv .card,
  .health .card {
    right: 0px !important;
  }
  .wash .card,
  .epi .card {
    left: 0px !important;
  }
}
.logo {
  height: 110px;
}
.slider,
.background-one,
.action,
.vision-mission,
.team,
.employment,
.internship,
.volunteer,
.ongoing,
.completed .latest-blog,
.blog,
.headquaters,
.intro,
.about-slider,
.partners,
.footer {
  padding: 80px 0px;
}
.slider h3,
.background-one h3,
.action h3,
.vision-mission h3,
.team h3,
.employment h3,
.internship h3,
.volunteer h3,
.ongoing h3,
.completed .latest-blog h3,
.blog h3,
.headquaters h3,
.intro h3,
.about-slider h3,
.partners h3,
.footer h3 {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 100%;
}
.slider h2,
.background-one h2,
.action h2,
.vision-mission h2,
.team h2,
.employment h2,
.internship h2,
.volunteer h2,
.ongoing h2,
.completed .latest-blog h2,
.blog h2,
.headquaters h2,
.intro h2,
.about-slider h2,
.partners h2,
.footer h2 {
  font-weight: 700;
  font-size: 200%;
}
.btn-contact {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #4caf50 !important;
  border-radius: none !important;
  color: #fff;
  padding: 8px 24px;
  border: none !important;
}
.btn-contact:hover {
  color: yellow;
}
.btn-more {
  text-decoration: none;
  background-color: #4caf50;
  color: #fff;
  padding: 8px 24px;
  border-radius: 8px !important;
}
.btn-more::after {
  content: '\f054';
  font-family: 'FontAwesome';
  padding: 10px;
}
.btn-more:hover {
  color: #4caf50;
  background-color: #fff;
  border: 2px solid #4caf50;
}
.top-navigation .icons a {
  padding: 10px;
  color: #565656;
}
.top-navigation .btn-contact {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fff !important;
  border-radius: none !important;
  color: #4caf50;
  padding: 8px 24px;
  border-radius: 10px;
  border: 2px solid #4caf50 !important;
}
.top-navigation .btn-contact:hover {
  color: #fff;
  background: #4caf50 !important;
}
.main-navigation .navbar-nav {
  position: relative;
  left: 14%;
}
.main-navigation .nav-link {
  justify-content: space-between;
  color: #000 !important;
  font-weight: 600;
}
.main-navigation .nav-link:hover {
  border-bottom: 4px solid #4caf50;
}
.main-navigation .navbar-light .navbar-toggler {
  color: #4caf50 !important;
  border-color: #4caf50 !important;
}
.slider {
  padding: 30px 0px !important;
}
.slider .carousel-inner .slider-img::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to left, transparent, #4caf50);
  margin-top: -530px;
  height: 530px;
  width: 100%;
  content: '';
}
.slider .carousel-inner .carousel-control-next-icon,
.slider .carousel-inner .carousel-control-prev-icon {
  position: relative !important;
  top: 104px !important;
}
.slider .carousel-inner h1 {
  font-size: 700;
  font-weight: 500;
}
.slider .carousel-inner span {
  color: yellow;
  font-weight: 400;
}
.slider .carousel-inner .carousel-caption {
  text-align: left !important;
  left: 7% !important;
}
.slider .carousel-inner .carousel-caption p {
  margin: 40px 0px;
}
.slider .carousel-inner .carousel-caption a {
  background-color: #fff;
  color: #4caf50;
  border: none !important;
  padding: 10px 30px;
  font-weight: 600;
}
.background-one .col-item {
  margin-top: 3.5rem !important;
}
.background-one p {
  padding: 20px 0px;
}
.background-one a {
  padding: 10px 30px;
}
.background-one .img-item {
  background-color: #4caf50;
}
.background-one .img-item img {
  position: relative;
  left: 20px;
  bottom: 30px;
}
.core-programs,
.latest-blog,
.blog,
.health-info,
.headquaters,
.employment,
.volunteer,
.vision-mission,
.team,
.completed {
  background-color: #f4f4f4;
}
.background-two h4 {
  font-weight: 700;
  font-size: 100%;
  padding-top: 10px;
}
.core-programs {
  padding-top: 80px;
}
.core-programs h3 {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 100%;
}
.core-programs h2 {
  font-weight: 700;
  font-size: 200%;
}
.core-programs .health,
.core-programs .water,
.core-programs .reproductive-health,
.core-programs .hiv-aids,
.core-programs .food-security,
.core-programs .protection {
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}
.core-programs .health .caption,
.core-programs .water .caption,
.core-programs .reproductive-health .caption,
.core-programs .hiv-aids .caption,
.core-programs .food-security .caption,
.core-programs .protection .caption {
  height: 30%;
  position: relative;
  top: 210px;
  opacity: 0.8;
}
.core-programs .health h4,
.core-programs .water h4,
.core-programs .reproductive-health h4,
.core-programs .hiv-aids h4,
.core-programs .food-security h4,
.core-programs .protection h4 {
  text-align: center;
  padding-top: 32px;
  color: #fff;
  font-weight: bolder;
  font-size: 100% !important;
  font-family: 'Poppins', sans-serif;
}
.core-programs .health {
  background-image: url(../images/health.jpg);
}
.core-programs .health .caption {
  background-color: darkcyan;
}
.core-programs .water {
  background-image: url(../images/water.jpg);
}
.core-programs .water .caption {
  background-color: blue;
}
.core-programs .reproductive-health {
  background-image: url(../images/reproductive-health.jpg);
}
.core-programs .reproductive-health .caption {
  background-color: red;
}
.core-programs .hiv-aids {
  background-image: url(../images/hiv-aids.jpg);
}
.core-programs .hiv-aids .caption {
  background-color: brown;
}
.core-programs .food-security {
  background-image: url(../images/food-security.jpg);
}
.core-programs .food-security .caption {
  background-color: #357a49;
}
.core-programs .protection {
  background-image: url(../images/protection.jpg);
}
.core-programs .protection .caption {
  background-color: purple;
}
.action {
  background-image: linear-gradient(rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)), url(../images/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.action h1 {
  color: #fff;
  font-weight: 700;
  padding: 40px 0px;
  font-size: 450%;
  justify-content: center;
}
.latest-blog .icons {
  justify-content: flex-end;
}
.latest-blog .fa-chevron-right,
.latest-blog .fa-chevron-left {
  color: #4caf50 !important;
  border: 2px solid #4caf50 !important;
  padding: 10px;
  border-radius: 10px;
}
.latest-blog .card {
  background-color: #f4f4f4 !important;
  font-size: 1rem;
  overflow: hidden;
  height: 250px;
  border: none !important;
  margin-top: 20px;
}
.latest-blog .card .card-block {
  position: relative;
  margin: 0;
  border: none !important;
  box-shadow: none;
}
.latest-blog span {
  padding: 0px;
  font-size: 90%;
  color: #565656;
}
.latest-blog a {
  text-decoration: none;
  color: #4c97af;
  font-weight: 700;
}
.page-title {
  background-image: linear-gradient(to right, #4caf50, rgba(255, 0, 0, 0));
  padding: 20px 0px;
}
.page-title h1 {
  color: yellow !important;
  font-weight: 700;
}
.page-title .breadcrumb {
  padding-top: 10px;
}
.page-title .breadcrumb .breadcrumb-item a {
  text-decoration: none !important;
  color: #000;
}
.health-info h1,
.ongoing h1,
.completed h1 {
  text-align: center;
}
.health-info .card,
.ongoing .card,
.completed .card {
  padding: 20px;
  margin: 10px !important;
  border: 1px solid #4caf50 !important;
}
.health-info .card a,
.ongoing .card a,
.completed .card a {
  text-decoration: none !important;
  color: #565656 !important;
  font-size: 20px;
  font-weight: 600;
}
.health-info .card a span,
.ongoing .card a span,
.completed .card a span {
  color: #4caf50;
  padding-left: 20px;
  font-weight: 300 !important;
  font-size: 17px !important;
}
.health-info .card .card-body,
.ongoing .card .card-body,
.completed .card .card-body {
  border-top: 1px solid #565656 !important;
}
.health-info .card .accordion-button:not(.collapsed),
.ongoing .card .accordion-button:not(.collapsed),
.completed .card .accordion-button:not(.collapsed) {
  background-color: #fff !important;
  box-shadow: none !important;
  border: none !important;
}
.health-info .card .accordion-button:focus,
.ongoing .card .accordion-button:focus,
.completed .card .accordion-button:focus {
  z-index: 3;
  border-color: none !important;
  outline: 0;
  box-shadow: none !important;
}
.intro ol li {
  font-family: 'Poppins', sans-serif !important;
}
.intro .img-item {
  background-color: #4caf50;
}
.intro .img-item img {
  position: relative;
  left: 20px;
  bottom: 30px;
}
.vision-mission .vision {
  border-right: 4px solid #fff;
  background-image: url('../images/vision.png');
  background-repeat: no-repeat;
  background-size: 40%;
}
.vision-mission .mission {
  background-image: url('../images/shared-vision.png');
  background-size: 40%;
  background-repeat: no-repeat;
}
.vision-mission ul li {
  font-family: 'Poppins', sans-serif !important;
  list-style: none;
}
.vision-mission ul li::before {
  font-family: 'FontAwesome';
  content: "\e404";
  padding-right: 10px;
}
.team .card {
  border: none !important;
}
.team .card h5 {
  font-weight: 600 !important;
  font-size: 15px !important;
}
.gbv .card,
.health .card {
  padding: 20px 0px;
  border: none !important;
  margin-top: 40px;
  border-left: 4px solid #4caf50 !important;
  position: relative;
  right: 130px;
}
.wash .card,
.epi .card {
  position: relative;
  padding: 10px 0px;
  border: none !important;
  margin-top: 40px;
  border-right: 4px solid #4caf50 !important;
  left: 130px;
}
.blog {
  background-color: #f4f4f4;
}
.blog .card {
  font-size: 1rem;
  overflow: hidden;
  border: none !important;
  margin-top: 20px;
}
.blog .card .card-block {
  position: relative;
  margin: 0;
  border: none !important;
  box-shadow: none;
}
.blog .card span {
  padding: 0px;
  font-size: 90%;
  color: #565656;
}
.blog .card a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.contacts h2,
.contacts h5 {
  font-weight: 700;
}
.contacts p {
  line-height: 12px !important;
}
.contacts .contact-form input,
.contacts .contact-form textarea {
  background-color: #f4f4f4 !important;
  border: none !important;
}
.contacts .contact-form .form-control::placeholder {
  color: #565656 !important;
  opacity: 1;
  font-family: 'Poppins', sans-serif;
}
.contacts .contact-form textarea {
  height: 200px;
}
.contacts .contact-form input {
  height: 50px;
}
.headquaters .col-lg-4 {
  border-bottom: 1px solid #565656;
  border-left: 1px solid #565656;
  border-right: 1px solid #565656;
  border-top: 1px solid #565656;
}
.footer {
  background-color: #357a49;
  color: #fff;
}
.footer h2 {
  font-weight: 700;
  font-size: 150%;
}
.footer .office ul li a::after {
  padding-left: 10px;
  font-family: "FontAwesome";
  content: "\f0d9";
}
.footer ul {
  position: relative;
  left: -30px;
}
.footer ul li {
  list-style: none;
}
.footer ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 30px;
}
.copyright {
  background-color: #565656;
}
.copyright a {
  text-decoration: none;
  color: #4caf50;
}
