@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
body {
  line-height: 25px;
}
body p,
body .nav-link {
  font-family: 'Poppins', sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body span,
body a {
  font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 767px) {
  .top-navigation {
    display: flex !important;
  }
  .slider img {
    height: 300px;
  }
  .background-one,
  .background-two,
  .action,
  .latest-blog,
  .partners,
  .footer {
    padding: 20px 0px !important;
  }
  .background-one .col-item,
  .background-two .col-item,
  .action .col-item,
  .latest-blog .col-item,
  .partners .col-item,
  .footer .col-item {
    margin-top: 1rem !important;
  }
}
.logo {
  height: 110px;
}
.slider,
.background-one,
.background-two,
.action,
.latest-blog,
.headquaters,
.intro,
.about-slider,
.partners,
.footer {
  padding: 80px 0px;
}
.slider h3,
.background-one h3,
.background-two h3,
.action h3,
.latest-blog h3,
.headquaters h3,
.intro h3,
.about-slider h3,
.partners h3,
.footer h3 {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 100%;
}
.slider h2,
.background-one h2,
.background-two h2,
.action h2,
.latest-blog h2,
.headquaters h2,
.intro h2,
.about-slider h2,
.partners h2,
.footer h2 {
  font-weight: 700;
  font-size: 200%;
}
.btn-contact {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #4caf50 !important;
  border-radius: none !important;
  color: #fff;
  padding: 8px 24px;
  border: none !important;
}
.btn-contact:hover {
  color: yellow;
}
.btn-more {
  text-decoration: none;
  background-color: #4caf50;
  color: #fff;
  padding: 8px 24px;
  border-radius: 8px !important;
}
.btn-more::after {
  content: '\f054';
  font-family: 'FontAwesome';
  padding: 10px;
}
.btn-more:hover {
  color: #4caf50;
  background-color: #fff;
  border: 2px solid #4caf50;
}
.top-navigation .icons a {
  padding: 10px;
  color: #565656;
}
.top-navigation .btn-contact {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fff !important;
  border-radius: none !important;
  color: #4caf50;
  padding: 8px 24px;
  border-radius: 10px;
  border: 2px solid #4caf50 !important;
}
.top-navigation .btn-contact:hover {
  color: #fff;
  background: #4caf50 !important;
}
.main-navigation .navbar-nav {
  position: relative;
  left: 14%;
}
.main-navigation .nav-link {
  justify-content: space-between;
  color: #000 !important;
  font-weight: 600;
}
.main-navigation .nav-link:hover {
  border-bottom: 4px solid #4caf50;
}
.main-navigation .navbar-light .navbar-toggler {
  color: #4caf50 !important;
  border-color: #4caf50 !important;
}
.slider {
  padding: 30px 0px !important;
}
.slider .carousel-inner .slider-img::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to right, #4caf50, rgba(255, 0, 0, 0));
  margin-top: -530px;
  height: 530px;
  width: 100%;
  content: '';
}
.slider .carousel-inner h1 {
  font-size: 700;
  font-weight: 500;
}
.slider .carousel-inner span {
  color: yellow;
  font-weight: 400;
}
.slider .carousel-inner .carousel-caption {
  text-align: left !important;
  left: 7% !important;
}
.slider .carousel-inner .carousel-caption p {
  margin: 40px 0px;
}
.slider .carousel-inner .carousel-caption a {
  background-color: #fff;
  color: #4caf50;
  border: none !important;
  padding: 10px 30px;
  font-weight: 600;
}
.background-one .col-item {
  margin-top: 3.5rem !important;
}
.background-one p {
  padding: 20px 0px;
}
.background-one a {
  padding: 10px 30px;
}
.background-one .img-item {
  background-color: #4caf50;
}
.background-one .img-item img {
  position: relative;
  left: 20px;
  bottom: 30px;
}
.background-two,
.core-programs,
.latest-blog,
.health-info,
.headquaters {
  background-color: #f4f4f4;
}
.background-two h4 {
  font-weight: 700;
  font-size: 100%;
  padding-top: 10px;
}
.core-programs {
  padding-top: 80px;
}
.core-programs h3 {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 100%;
}
.core-programs h2 {
  font-weight: 700;
  font-size: 200%;
}
.core-programs .health,
.core-programs .water,
.core-programs .reproductive-health,
.core-programs .hiv-aids,
.core-programs .food-security,
.core-programs .protection {
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}
.core-programs .health .caption,
.core-programs .water .caption,
.core-programs .reproductive-health .caption,
.core-programs .hiv-aids .caption,
.core-programs .food-security .caption,
.core-programs .protection .caption {
  height: 30%;
  position: relative;
  top: 210px;
  opacity: 0.8;
}
.core-programs .health h4,
.core-programs .water h4,
.core-programs .reproductive-health h4,
.core-programs .hiv-aids h4,
.core-programs .food-security h4,
.core-programs .protection h4 {
  text-align: center;
  padding-top: 32px;
  color: #fff;
  font-weight: bolder;
  font-size: 100% !important;
  font-family: 'Poppins', sans-serif;
}
.core-programs .health {
  background-image: url(../images/health.jpg);
}
.core-programs .health .caption {
  background-color: darkcyan;
}
.core-programs .water {
  background-image: url(../images/water.jpg);
}
.core-programs .water .caption {
  background-color: blue;
}
.core-programs .reproductive-health {
  background-image: url(../images/reproductive-health.jpg);
}
.core-programs .reproductive-health .caption {
  background-color: red;
}
.core-programs .hiv-aids {
  background-image: url(../images/hiv-aids.jpg);
}
.core-programs .hiv-aids .caption {
  background-color: brown;
}
.core-programs .food-security {
  background-image: url(../images/food-security.jpg);
}
.core-programs .food-security .caption {
  background-color: #357a49;
}
.core-programs .protection {
  background-image: url(../images/protection.jpg);
}
.core-programs .protection .caption {
  background-color: purple;
}
.action {
  background-image: linear-gradient(rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)), url(../images/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.action h1 {
  color: #fff;
  font-weight: 700;
  padding: 40px 0px;
  font-size: 450%;
  justify-content: center;
}
.latest-blog .fa-circle-arrow-right,
.latest-blog .fa-circle-arrow-left {
  fill: white !important;
  color: #4caf50 !important;
  border: 2px solid #4caf50 !important;
}
.latest-blog .card {
  background-color: #f4f4f4 !important;
  font-size: 1rem;
  overflow: hidden;
  height: 250px;
  border: none !important;
  margin-top: 20px;
}
.latest-blog .card .card-block {
  position: relative;
  margin: 0;
  border: none !important;
  box-shadow: none;
}
.latest-blog span {
  padding: 0px;
  font-size: 90%;
  color: #565656;
}
.latest-blog a {
  text-decoration: none;
  color: #4c97af;
  font-weight: 700;
}
.page-title {
  background-image: linear-gradient(to right, #4caf50, rgba(255, 0, 0, 0));
  padding: 10px 0px;
}
.page-title h1 {
  color: yellow !important;
  font-weight: 700;
}
.page-title .breadcrumb {
  padding-top: 10px;
}
.page-title .breadcrumb .breadcrumb-item a {
  text-decoration: none !important;
  color: #000;
}
.health-info h1 {
  text-align: center;
}
.health-info .card {
  padding: 20px;
  margin: 10px !important;
  border: 2px solid #4caf50 !important;
}
.health-info .card a {
  text-decoration: none !important;
  color: #565656 !important;
}
.health-info .card .card-body {
  border-top: 1px solid #565656 !important;
}
.health-info .card .accordion-button:not(.collapsed) {
  background-color: #fff !important;
  box-shadow: none !important;
  border: none !important;
}
.health-info .card .accordion-button:focus {
  z-index: 3;
  border-color: none !important;
  outline: 0;
  box-shadow: none !important;
}
.intro ol li {
  font-family: 'Poppins', sans-serif !important;
}
.vision ul li {
  font-family: 'Poppins', sans-serif !important;
}
.about-slider {
  background-color: #f4f4f4 !important;
}
.about-slider .icons {
  display: flex;
  justify-content: flex-end;
}
.about-slider .icons a,
.about-slider .icons .fa {
  color: #4caf50 !important;
  border: 2px solid #4caf50;
  margin: 8px;
  padding: 12px !important;
  border-radius: 30px !important;
}
.about-slider .card {
  border: none !important;
}
.about-slider .card h4 {
  font-weight: 700;
  font-size: 100%;
  padding-top: 10px;
}
.contacts h2,
.contacts h5 {
  font-weight: 700;
}
.contacts p {
  line-height: 12px !important;
}
.contacts .contact-form input,
.contacts .contact-form textarea {
  background-color: #f4f4f4 !important;
  border: none !important;
}
.contacts .contact-form .form-control::placeholder {
  color: #565656 !important;
  opacity: 1;
  font-family: 'Poppins', sans-serif;
}
.contacts .contact-form textarea {
  height: 200px;
}
.contacts .contact-form input {
  height: 50px;
}
.headquaters .col-lg-4 {
  border-bottom: 1px solid #565656;
  border-left: 1px solid #565656;
  border-right: 1px solid #565656;
  border-top: 1px solid #565656;
}
.footer {
  background-color: #357a49;
  color: #fff;
}
.footer h2 {
  font-weight: 700;
  font-size: 150%;
}
.footer .office ul li a::after {
  padding-left: 10px;
  font-family: "FontAwesome";
  content: "\f0d9";
}
.footer ul {
  position: relative;
  left: -30px;
}
.footer ul li {
  list-style: none;
}
.footer ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 30px;
}
.copyright {
  background-color: #565656;
}
.copyright a {
  text-decoration: none;
  color: #4caf50;
}
