@primary-color: green;
@secondary-color: rgb(95, 94, 94);
@white-color: #fff;
@black-color: #000;


@media screen {
   
}
// Top Navigation
.top-navigation {
   a{
      padding: 10px;
      color: @secondary-color;
   }
   .btn {
      text-transform: uppercase;
      background-color: @primary-color !important;
      border-radius: 0px !important;
      color: @white-color;
    }
} 
// main navigation
.main-navigation{
   .navbar-nav{
      position: relative;
      left: 19%;
   }
   .nav-link{
      text-transform: uppercase;
      justify-content: space-between;
      color: @black-color !important;
   }
}